<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="https://github.com/Nygashi/CameraOverlayPlugin.git"
        id="com.zooma.plugins.cameraoverlay"
        version="0.1.0">
<name>CameraOverlay</name>
<description>CameraOverlay Plugin</description>
<license>MIT</license>
<author>T-Man</author>
<keywords>phonegap,camera, overlay</keywords>

	<js-module src="www/CameraOverlay.js" name="CameraOverlay">
    	<clobbers target="window.plugins.CameraOverlay" />
	</js-module>


    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CameraOverlay">
                <param name="android-package" value="com.zooma.plugins.cameraoverlay.CameraOverlay"/>
            </feature>
        </config-file>
        
		<!-- android-specific elements -->
        <source-file src="src/android/CameraActivity.java" target-dir="src/com/zooma/plugins/cameraoverlay" />
        <source-file src="src/android/CameraOverlay.java" target-dir="src/com/zooma/plugins/cameraoverlay" />
        <source-file src="src/android/CameraPreview.java" target-dir="src/com/zooma/plugins/cameraoverlay" />
        <source-file src="src/android/ConfirmActivity.java" target-dir="src/com/zooma/plugins/cameraoverlay" />
        
        <source-file src="src/android/camerapreview.xml" target-dir="res/layout" />
        <source-file src="src/android/activity_confirm.xml" target-dir="res/layout" />
        <source-file src="src/android/camerastrings.xml" target-dir="res/values" />
        
        <source-file src="src/android/close_button.png" target-dir="res/drawable" />
        <source-file src="src/android/help_button.png" target-dir="res/drawable" />
        <source-file src="src/android/okay_button.png" target-dir="res/drawable" />
     
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.zooma.plugins.cameraoverlay.CameraActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
            </activity>
            <activity android:name="com.zooma.plugins.cameraoverlay.ConfirmActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
            </activity>
        </config-file>
	</platform>

	<!-- iOS -->
	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CameraOverlay">
                <param name="ios-package" value="CameraOverlay"/>
            </feature>
        </config-file>
        
		<!-- ios-specific elements -->
		<header-file src="src/ios/CameraOverlay.h" />
		<source-file src="src/ios/CameraOverlay.m" />
		<header-file src="src/ios/CameraOverlayViewController.h" />
		<source-file src="src/ios/CameraOverlayViewController.m" />
        <header-file src="src/ios/ConfirmViewController.h" />
		<source-file src="src/ios/ConfirmViewController.m" />
		<header-file src="src/ios/MBProgressHUD.h" />
		<source-file src="src/ios/MBProgressHUD.m" />
		<header-file src="src/ios/UIImage+Resize.h" />
		<source-file src="src/ios/UIImage+Resize.m" />
		
		<resource-file src="src/ios/CameraOverlayViewController.xib" />
		<resource-file src="src/ios/ConfirmViewController.xib" />
		<resource-file src="src/ios/close-button.png" />
		<resource-file src="src/ios/close-button2@x.png" />
		<resource-file src="src/ios/help-button.png" />
		<resource-file src="src/ios/help-button@2x.png" />
		<resource-file src="src/ios/okay-button.png" />
		<resource-file src="src/ios/okay-button@2x.png" />
        <resource-file src="src/ios/continue-button.png" />
		<resource-file src="src/ios/continue-button@2x.png" />
	</platform>
</plugin>